# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
# *.jar  <-- Commented out because this project uses lib/*.jar for dependencies
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IDE Specific
.vscode/
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/

# Build folders
bin/
out/
build/
target/

# OS specific
.DS_Store
Thumbs.db

# Documentation
*.docx
lib/
